// color bg main content gray/black #1c1c1c
// color bg section blue #0282f9
// color bg footer gray dark #303030

$link-color: #0282f9;

$bg-color: #1c1c1c;
$bg-font-color: #fff;

$bg-color-blue: #0282f9;

$bg-color-footer: #303030;

$header-link-color: #333;
$footer-link-color: #c0c0c0;

